html {
  height: 100%;
  margin: 0px;
}

#root {
  width: 100%;
}

header {
  background-color: #2d3c26;
  color: #c1cfba;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 100px 5px 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.nav-span {
  display: flex;
  align-items: center;
}

header button {
  background-color: #c1cfba;
  color: #2d3c26;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
}

header button:hover {
  background-color: #df9d98;
}

body {
  flex-grow: 1;
  padding: 0 2rem;
  margin: 0;
  padding: 0;
}